<div class="fondo">
  <div class="container item-container">
  <div class="show">

    <div class="row" style="text-align:center">
    <div class="col-sm-2">

      <strong></strong>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <img class="item-image" src="<%= item.image %>">
      </div>
<br><br>
      <div id="infoo"class="col-sm-12 item-info">
        Este producto ha sido creado por <strong><%= item._creator.username %></strong> <br>para contactar, su email es el siguiente:  <strong><%= item._creator.email %></strong>
<br><br>        <a class="btn btn-warning" style="color:black;" href="/items/<%= item._id%>/edit">Editar Item </a>
    <br><br>
        <div class="item-progress">
          <progress value="<%= item.totalPledged %>" max="<%= item.goal %>"></progress>
        </div>
        <div class="item-pledged">
        <!--  <span class="item-total">$<%= item.totalPledged %></span><br> -->
        <div class="container-fluid">
  <img src="<%= item.pic_path %>" height=290%><br>
          <h4 style="text-decoration:underline"><%= item.title %></h4><br>

          <h2 class="item-category"><%= item.category %></h2><br>
          <p class="text-justify"><strong> Número de páginas aproximadas del proyecto:</ststrong> <%= item.paginas %></p>
            <p class="text-justify" ><strong>El precio aproximado sería de:</strong> <%= item.goal %> euros</p>
          <p class="text-justify"><strong>Descripción del proyecto</strong></p><p class="text-justify"><%= item.description %></p>
        </div>

        </div>
        
  </br> </br>
      </div>
      <br>
  </div>
    </div>
</div>
</div>
</div>
